@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Thin.woff) format("woff"), url(../fonts/WorkSans-Thin.woff2) format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-ExtraLight.woff) format("woff"), url(../fonts/WorkSans-ExtraLight.woff2) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Light.woff) format("woff"), url(../fonts/WorkSans-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Regular.woff) format("woff"), url(../fonts/WorkSans-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Medium.woff) format("woff"), url(../fonts/WorkSans-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-SemiBold.woff) format("woff"), url(../fonts/WorkSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Bold.woff) format("woff"), url(../fonts/WorkSans-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-ExtraBold.woff) format("woff"), url(../fonts/WorkSans-ExtraBold.woff2) format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Black.woff) format("woff"), url(../fonts/WorkSans-Black.woff2) format("woff2");
  font-weight: 900;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "WorkSans";
  background: #d3d3d3;
  max-width: 1280px;
  margin: 0 auto;
}

.header .container {
  padding: 20px 30px;
}
.header .container .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.header .container .header__nav .header__logo {
  width: 243px;
  height: 32px;
}
.header .container .header__nav .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 39px;
}
.header .container .header__nav .header__menu li a {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
}
.header .container .header__nav .header__menu li a button {
  padding: 19px 30px;
  background-color: #A259FF;
  color: #3d3d3d;
  border: none;
  border-radius: 20px;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  padding: 80px 115px;
}
.hero .hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero .hero__container .hero__item {
  max-width: 510px;
  height: 564px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
  flex-direction: column;
}
.hero .hero__container .hero__item h1 {
  font-size: 67.5px;
  font-weight: 600;
  line-height: 73.7px;
  color: #3d3d3d;
}
.hero .hero__container .hero__item p {
  font-size: 23px;
  font-weight: 400;
  line-height: 35.2px;
  margin-top: 20px;
  color: #3d3d3d;
}
.hero .hero__container .hero__item button {
  padding: 19px 50px;
  background-color: #A259FF;
  color: #3d3d3d;
  border: none;
  border-radius: 20px;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.hero .hero__container .hero__item .hero__about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 40px;
}
.hero .hero__container .hero__item .hero__about span {
  width: 150px;
  height: 75px;
}
.hero .hero__container .hero__item .hero__about span h2 {
  font-size: 28px;
  font-weight: 700;
  color: #3d3d3d;
}
.hero .hero__container .hero__item .hero__about span p {
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  color: #3d3d3d;
}
.hero .hero__container .hero__card {
  max-width: 510px;
  width: 100%;
  height: 510px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 20px;
}
.hero .hero__container .hero__card .hero-card__item {
  padding: 22px 20px;
  gap: 10px;
}
.hero .hero__container .hero__card .hero-card__item h2 {
  font-size: 22px;
  font-weight: 600;
  color: #3d3d3d;
}
.hero .hero__container .hero__card .hero-card__item .hero-card__avatar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.hero .hero__container .hero__card .hero-card__item .hero-card__avatar p {
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
}

.users-card {
  padding: 80px 115px;
}
.users-card .card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.users-card .card-top div h1 {
  font-size: 36px;
  font-weight: 600;
  color: #3d3d3d;
}
.users-card .card-top div p {
  font-size: 22px;
  font-weight: 400;
  color: #3d3d3d;
}
.users-card .card-top button {
  padding: 19px 50px;
  background-color: transparent;
  color: #3d3d3d;
  border: 2px solid #A259FF;
  border-radius: 20px;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-card .card-top button i {
  color: #A259FF;
}
.users-card .cards {
  margin-top: 60px;
}
.users-card .cards ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
.users-card .cards ul li {
  width: 240px;
  height: 240px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.users-card .cards ul li h2 {
  color: #3d3d3d;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
}
.users-card .cards ul li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #858584;
}
.users-card .cards ul li p span {
  color: #3d3d3d;
  font-family: monospace;
}

.magic {
  max-width: 1280px;
  height: 640px;
}
.magic .container {
  background-repeat: no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(162, 89, 255) 100%), no-repeat url(../../picture/Screen=Tablet.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 60px 115px;
  align-items: flex-end;
  justify-content: space-between;
}
.magic .container .magic__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.magic .container .magic__item div {
  display: flex;
  padding: 11px 20px;
  background-color: #e6e6e6;
  gap: 12px;
  width: -moz-min-content;
  width: min-content;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.magic .container .magic__item div p {
  color: #3d3d3d;
}
.magic .container .magic__item h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 56.1px;
  color: #3d3d3d;
}
.magic .container .magic__item button {
  padding: 19px 50px;
  background-color: #3d3d3d;
  color: #d3d3d3;
  border: none;
  border-radius: 20px;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: 60px;
}
.magic .container .magic__item button i {
  color: #A259FF;
}
.magic .container .magic__time {
  display: flex;
  flex-direction: column;
  background-color: rgba(151, 151, 151, 0.5019607843);
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.magic .container .magic__time p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #3d3d3d;
}
.magic .container .magic__time div {
  display: flex;
  gap: 10px;
}
.magic .container .magic__time div h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45.6px;
  color: #3d3d3d;
}
.magic .container .magic__time div p {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #3d3d3d;
}/*# sourceMappingURL=white-theme.css.map */