*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'WorkSans';
    background:  $color;
    max-width: 1280px;
    margin: 0 auto;
}